/* Body */

* {
    padding: 0;
    margin: 0;
}

.banner-text h2 {
    text-align: center;
    font-size: 75px;
    font-family: sans-serif;
    font-weight: 600;
}


/* Media Queries */

@media (max-width: 1920px) {
    .banner-text h2 {
        font-size: 92px;
    }
}

@media (max-width: 1440px) {
    .banner-text h2 {
        font-size: 74px;
    }
}

@media (max-width: 540px) {
    .banner-text h2 {
        font-size: 42px;
    }
}