main {
    min-height: 100vh;
    max-height: auto;
}

#select-boxes h2 {
    margin-bottom: 16px;
    position: relative;
}

#select-boxes {
    margin: 6%;
}

.select-box {
    position: relative;
    display: inline-flex;
    width: 250px;
    flex-direction: column;
    border-radius: 6px;
}

.select-box .options-container {
    /* background: #2f3640; */
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: #2c333d;
    border-radius: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background: url("../images/SVG/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 6px;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 6px;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .text {
    display: none;
}


/* Msg Box */

.msg-box {
    width: 100%;
    height: auto;
    margin-top: 5%;
    padding: 100px;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    color: #000000 !important;
    background-color: #f8f8f8;
    box-shadow: 0 2px 9px #000;
}


/* Media Queries */

@media screen and (max-width: 1920px) {
    #select-boxes {
        margin: 6% 0 0 4%;
    }
}

@media screen and (max-width: 1440px) {
    #select-boxes {
        margin: 4% 0 0 4%;
    }
}

@media screen and (max-width: 770px) {
    #select-boxes {
        margin: 4% 0 0 16%;
    }
}

@media screen and (max-width: 670px) {
    #select-boxes h2 {
        font-size: 25px;
        margin-bottom: 16px;
    }
    .select-box {
        display: flex;
        margin-bottom: 3%;
    }
    .msg-box {
        padding: 65px;
        font-size: 16px;
    }
}