div.maudio .audio {
    height: 0;
    overflow: hidden;
    display: block;
}

div.audio-player {
    width: 100%;
}

#app {
    display: block;
    position: relative;
    left: 25%;
}

div.maudio .audio-control {
    display: flex;
    justify-content: center;
    z-index: 0;
    width: 50%;
    overflow: hidden;
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
    border: 1px solid #0a46a0;
    border-radius: 25px;
    cursor: pointer;
}

div.maudio .audio-control:hover,
div.maudio .audio-control:focus-within {
    box-shadow: 0 5px 9px #0a46a0;
}

div.maudio .audio-control a,
div.maudio .audio-control div {
    float: left;
    margin: 0 5px;
    cursor: pointer;
}

div.maudio .audio-control a {
    display: block;
    background: url(../images/Icons/audio_icon.png) no-repeat 0 0;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

div.maudio .audio-control a.play {
    border-radius: 50%;
    background-color: #0a46a0;
    background-position: 10px 8px;
}

div.maudio.playing .audio-control a.play {
    background-position: 11px -22px;
}

div.maudio .audio-control a.fast-reverse,
div.maudio .audio-control a.fast-forward {
    width: 17px;
    height: 17px;
    margin-top: 7px;
    background-position: -50px 1px;
}

div.maudio .audio-control a.fast-reverse {
    background-position: -50px -59px;
}

div.maudio .audio-control a.fast-forward:hover {
    background-position: -50px -29px;
}

div.maudio .audio-control a.fast-reverse:hover {
    background-position: -50px -89px;
}

div.maudio .audio-control .progress-bar {
    width: 145px;
    height: 8px;
    margin: 11px 5px;
    border-radius: 3px;
    background: #afafaf;
    overflow: hidden;
}

div.maudio .audio-control .progress-pass {
    width: 0;
    height: 8px;
    margin: 0;
    border-radius: 3px;
    background: #0a46a0;
}

div.maudio .audio-control .time-keep {
    height: 30px;
    line-height: 30px;
    color: #45556c;
    cursor: default;
}

div.maudio .audio-control .mute {
    width: 21px;
    height: 17px;
    z-index: 5;
    margin-top: 7px;
    background-position: 0 -60px;
}

div.maudio .audio-control .mute.muted {
    background-position: 0 -90px;
}

div.maudio .audio-control .volume-bar {
    width: 50px;
    height: 5px;
    margin-top: 13px;
    border-radius: 2px;
    background: #afafaf;
}

div.maudio .audio-control .volume-pass {
    width: 100%;
    height: 5px;
    margin: 0;
    border-radius: 2px;
    background: #0a46a0;
}

@media screen and (max-width: 1920px) {
    #app {
        align-items: center;
    }
    div.maudio .audio-control {
        width: 50%;
    }
}

@media screen and (max-width: 1620px) {
    #app {
        width: 50%;
    }
    div.audio-player {
        width: 100%;
    }
    div.maudio .audio-control {
        width: 100%;
    }
}

@media screen and (max-width: 1080px) {
    #app {
        left: 17%;
    }
    div.maudio .audio-control {
        width: 130%;
    }
}

@media screen and (max-width: 770px) {
    #app {
        left: 20%;
    }
    div.maudio .audio-control {
        width: 120%;
        font-size: 10px;
        padding: 5px;
    }
    div.maudio .audio-control .progress-bar {
        width: 65px;
        height: 7px;
    }
    div.maudio .audio-control .volume-bar {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    #app {
        left: -2%;
    }
    div.maudio .audio-control {
        width: 210%;
        font-size: 8px;
        padding: 3px;
    }
    div.maudio .audio-control .progress-bar {
        width: 68px;
        height: 7px;
    }
    div.maudio .audio-control .volume-bar {
        display: none;
    }
}