* {
    padding: 0;
    margin: 0;
}

#blog-section h3 {
    font-size: 44px;
}

.video-frame {
    width: auto;
    display: flex;
    justify-content: center;
}

.lesson-video {
    width: 560px;
    height: 280px;
    border: 1px #0a46a0 solid;
    border-radius: 25px;
    display: block;
    position: relative;
}

.lesson-video:hover {
    box-shadow: 3px 5px 14px #0a46a0;
}


/* Blog Section */

#blog-section {
    padding: 0;
}

.blog-img {
    text-align: center;
    width: 100%;
}

.blog-img img {
    width: 62%;
    border: 1px solid #0a46a0;
}

.blog-img img:hover {
    box-shadow: 3px 6px 12px #0a46a0;
}

.desc {
    font-size: 20px;
    margin-left: 19%;
    padding-top: 2%;
}


/* padding-bottom and top for image */

.mfp-no-margins img.mfp-img {
    padding: 0;
}


/* position of shadow behind the image */

.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}


/* padding for main container */

.mfp-no-margins .mfp-container {
    padding: 0 6% 0 6%;
}


/*
    for zoom animation 
    uncomment this part if you haven't added this code anywhere else
*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.6;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


/* Media Queries */

@media screen and (max-width: 1920px) {
    #page-top-section h2 {
        font-size: 108px;
    }
    #blog-section h3 {
        font-size: 48px;
        padding: 2%;
    }
    #page-top-section {
        padding: 88px;
        background-position-x: 62%;
    }
    .breadcrumb {
        padding-left: 4px;
        font-size: 28px;
    }
    .lesson-video {
        width: 560px;
        height: 300px;
    }
    .blog-img img {
        width: 95%;
    }
    .desc {
        font-size: 26px;
        margin-left: 2%;
    }
    .mfp-no-margins .mfp-container {
        padding: 0 6% 0 6%;
    }
}

@media screen and (max-width: 1440px) {
    #page-top-section h2 {
        font-size: 92px;
    }
    #blog-section h3 {
        font-size: 45px;
        padding: 2%;
    }
    #page-top-section {
        padding: 88px;
        background-position-x: 62%;
    }
    .breadcrumb {
        padding-left: 6px;
        font-size: 28px;
    }
    .blog-img img {
        width: 75%;
    }
    .desc {
        font-size: 24px;
        margin-left: 13%;
    }
}

@media screen and (max-width: 1080px) {
    #page-top-section h2 {
        font-size: 84px;
    }
    #blog-section h3 {
        font-size: 48px;
        padding: 4%;
    }
    #page-top-section {
        padding: 64px;
        background-position-x: 62%;
    }
    .lesson-video {
        width: 480px;
        height: 280px;
    }
    .breadcrumb {
        padding-left: 4px;
        font-size: 18px;
    }
    .blog-img img {
        width: 80%;
    }
    .desc {
        font-size: 20px;
        margin-left: 10%;
    }
    .mfp-no-margins .mfp-container {
        padding: 0 6% 0 6%;
    }
}

@media screen and (max-width: 770px) {
    #page-top-section h2 {
        font-size: 65px;
    }
    #blog-section h3 {
        font-size: 40px;
        padding: 4%;
    }
    #page-top-section {
        padding: 74px;
        background-position-x: 62%;
    }
    .lesson-video {
        width: 440px;
        height: 250px;
    }
    .breadcrumb {
        padding-left: 4px;
        font-size: 18px;
    }
    .blog-img img {
        width: 90%;
    }
    .desc {
        font-size: 16px;
        margin-left: 5%;
    }
    .mfp-no-margins .mfp-container {
        padding: 0 6% 0 6%;
    }
}

@media screen and (max-width: 540px) {
    #page-top-section h2 {
        font-size: 46px;
    }
    #blog-section h3 {
        font-size: 26px;
        padding: 4%;
    }
    #page-top-section {
        padding: 56px;
        background-position-x: 75%;
    }
    .lesson-video {
        width: 325px;
        height: 175px;
    }
    .breadcrumb {
        padding-left: 4px;
        font-size: 16px;
    }
    .blog-img img {
        width: 100%;
    }
    .desc {
        font-size: 13px;
        margin-left: 0%;
    }
    .mfp-no-margins .mfp-container {
        padding: 0;
    }
}